{% extends 'shared/_MainLayout.html' %}
{% block title %}رمز عبور جدید{% endblock %}
{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="forget-password">
                    <div class="col-sm-6">
                        <div class="login-form"><!--Recovery form-->
                            <h2>رمز عبور جدید خود را وارد کنید</h2>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" class="btn btn-default">تغییر کلمه ی عبور</button>
                            </form>
                        </div><!--/Recovery form-->
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}